@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: 'NanumSquare', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --antd-wave-shadow-color: #6236ff !important;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #6236ff !important;
}

.ant-slider-track {
  position: absolute;
  height: 4px;
  background-color: #6236ff !important;
  border-radius: 2px;
  transition: background-color 0.3s;
}

.ant-slider-handle {
  border: solid 2px #6236ff !important;
}

.ant-slider-handle:focus {
  border-color: rgba(98, 54, 255, 0.12);
  outline: none;
  box-shadow: 0 0 0 5px rgba(98, 54, 255, 0.12);
}

.ant-slider {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  position: relative;
  height: 12px;
  margin: 10px 6px 10px;
  padding: 4px 0;
  cursor: pointer;
  touch-action: none;
}

.ant-carousel .slick-dots li button {
  height: 0.5rem;
}

.slick-dots li.slick-active button {
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #8c8c8c;
  border-radius: 1rem;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #6236ff !important;
}

.ant-steps-item-process
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background-color: #6236ff !important;
}

.ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: #6236ff;
}

.ant-radio-checked::after {
  border: #6236ff !important;
}

.ant-radio-inner::after {
  background-color: #6236ff !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #6236ff !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #6236ff !important;
  border-color: #6236ff !important;
}

img {
  -webkit-user-drag: none;
}

html {
  scroll-behavior: smooth;
  /* overflow-y: scroll; */
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

code {
  font-family: 'NanumSquare', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

button {
  outline: none;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url('./styles/Fonts/NanumSquareR.eot');
  src: url('./styles/Fonts/NanumSquareR.eot') format('embedded-opentype'),
    url('./styles/Fonts/NanumSquareR.woff') format('woff'),
    url('./styles/Fonts/NanumSquareR.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url('./styles/Fonts/NanumSquareB.eot');
  src: url('./styles/Fonts/NanumSquareB.eot') format('embedded-opentype'),
    url('./styles/Fonts/NanumSquareB.woff') format('woff'),
    url('./styles/Fonts/NanumSquareB.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url('./styles/Fonts/NanumSquareEB.eot');
  src: url('./styles/Fonts/NanumSquareEB.eot') format('embedded-opentype'),
    url('./styles/Fonts/NanumSquareEB.woff') format('woff'),
    url('./styles/Fonts/NanumSquareEB.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: url('./styles/Fonts/NanumSquareL.eot');
  src: url('./styles/Fonts/NanumSquareL.eot') format('embedded-opentype'),
    url('./styles/Fonts/NanumSquareL.woff') format('woff'),
    url('./styles/Fonts/NanumSquareL.ttf') format('truetype');
}
