@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: 'NanumSquare', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --antd-wave-shadow-color: #6236ff !important;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #8c8c8c;
  border-radius: 1rem;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #6236ff !important;
}

.ant-steps-item-process
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background-color: #6236ff !important;
}

.ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: #6236ff;
}

.ant-radio-checked::after {
  border: #6236ff !important;
}

.ant-radio-inner::after {
  background-color: #6236ff !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #6236ff !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #6236ff !important;
  border-color: #6236ff !important;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

code {
  font-family: 'NanumSquare', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

button {
  outline: none;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url('./styles/Fonts/NanumSquareR.eot');
  src: url('./styles/Fonts/NanumSquareR.eot') format('embedded-opentype'),
    url('./styles/Fonts/NanumSquareR.woff') format('woff'),
    url('./styles/Fonts/NanumSquareR.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url('./styles/Fonts/NanumSquareB.eot');
  src: url('./styles/Fonts/NanumSquareB.eot') format('embedded-opentype'),
    url('./styles/Fonts/NanumSquareB.woff') format('woff'),
    url('./styles/Fonts/NanumSquareB.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url('./styles/Fonts/NanumSquareEB.eot');
  src: url('./styles/Fonts/NanumSquareEB.eot') format('embedded-opentype'),
    url('./styles/Fonts/NanumSquareEB.woff') format('woff'),
    url('./styles/Fonts/NanumSquareEB.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: url('./styles/Fonts/NanumSquareL.eot');
  src: url('./styles/Fonts/NanumSquareL.eot') format('embedded-opentype'),
    url('./styles/Fonts/NanumSquareL.woff') format('woff'),
    url('./styles/Fonts/NanumSquareL.ttf') format('truetype');
}
